@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  height: 14vh;
  padding: 0 20%;
  background-color: rgb(25, 12, 111) !important;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgb(25, 12, 111) !important;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
.first {
  height: 86vh;
  position: relative;
}
.first-bg {
  height: 86vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: url("bg.jpg");
  opacity: 0.3;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-size: cover;
  z-index: -1;
}
.first-article h2,
.first-article h1 {
  text-align: center;
}
.first-article h2 {
  font-weight: normal;
}
.first-info {
  height: 60%;
  z-index: 100;
}
.first-article {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
section {
  padding: 3% 10%;
}
.uk-article-title {
  font-weight: 500;
}
.second-article {
  width: 80%;
}
.target {
  display: flex;
}
.target-image {
  width: 35%;
}
.cert {
  text-align: center;
}
.temp {
  display: flex;
  margin-bottom: 5%;
}
.temp-img {
  width: 15%;
  display: flex;
  align-items: center;
}
.temp-info {
  width: 85%;
}
.form {
  width: 40%;
  margin: auto;
}
.form input {
  margin-bottom: 10px;
}
.description {
  background-color: rgb(25, 12, 111);
}
.description .uk-text-lead,
.description .uk-article-title {
  color: #fff !important;
}
.uk-button-primary {
  background-color: rgb(25, 12, 111) !important;
}
.uk-button-primary2 {
  color: rgb(25, 12, 111);
  background-color: #fff;
}

.whatwilllearn {
  background-color: rgb(25, 12, 111);
}

.whatwilllearn .uk-list,
.whatwilllearn .uk-article-title {
  color: #fff !important;
}

.uk-card {
  background-color: rgb(25, 12, 111) !important;
  color: white !important;
}
.uk-card-title {
  color: white !important;
}

@media screen and (max-width: 800px) {
  nav {
    text-align: center;
  }
  nav a {
    font-size: 0.8em;
  }
  nav a:last-child {
    display: none;
  }
  .target-image {
    display: none;
  }
  .first-info {
    height: 60%;
  }
  .uk-text-lead {
    font-size: 1em !important;
  }
  .temp-img {
    margin-right: 10px;
  }
}
